*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}
.programs-header {
    color: #fff;
    display: flex;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    gap: 5rem;
    justify-content: center;
    text-transform: uppercase;
}
.stroke-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.category, .prgoram-categories {
    display: flex;
    gap: 1rem;
}
.category {
    /* background-color: gray; */
    color: #fff;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(128, 128, 128);
    cursor: auto;
}
.category>:first-child {
    fill: #fff;
    height: 2rem;
    width: 2rem;
}
.category>:nth-child(2) {
    font-size: 1rem;
    font-weight: 700;
}
.category>:nth-child(3) {
    font-size: .9rem;
    line-height: 25px;
}
.join-now {
    align-items: center;
    display: flex;
    gap: 2rem;
}
.join-now>img {
    width: 1rem;
}
.category:hover{
    cursor: pointer;
    background: linear-gradient(210.41deg, rgb(250, 80, 66) 1.14%, rgb(255, 167, 57) 100.75%);
}


@media(max-width: 768px) {
    .programs-header {
        font-size: 20px;
    }
    .category {
        width: 90%;
        margin: 0 auto;
    }
    .category span {
        font-size: 16px;
    }
    .join-now {
        text-align: center;
    }
}

@media (max-width:600px) {
    .programs-header {
        font-size: 40px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}