/* Default styles */
.Delivery {
    padding: 2rem 10rem!important;
}

.Delivery_col {
    padding: 1.3rem 2rem;
    box-shadow: 0 -1px 39px 14px #c3c3c340;
    background-color: #ffffffb1;
    margin: 0 1rem;
    border-radius: 0 20px;
}

.Delivery_col:hover {
    background-color: #000;
    transition: .3s linear;
    cursor: pointer;
    color: #fff;
}

.Delivery_col i {
    font-size: 1.5rem;
    padding: 0.6rem 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 50%;
    color: #fff;
    background: var(--primary-color);
}

.Delivery_col h5 {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.4rem 0;
}

/* Responsive styles */
@media (max-width: 991.98px) { /* Tablet and below */
    .Delivery {
        padding: 2rem 5rem!important;
    }
}

@media (max-width: 767.98px) { /* Mobile */
    .Delivery {
        padding: 2rem 2rem!important;
    }

    .Delivery_col {
        margin: 0 0.5rem;
    }

    .Delivery_col h5 {
        font-size: 0.9rem;
    }

    .Delivery_col i {
        font-size: 1.2rem;
        padding: 0.5rem;
    }
}
