

@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap");


:root{
  --primary-color:#fe9e0c;
  --dark-color:#464646;
}

*{
  font-family: "Poppins", sans-serif;
}

.Nav_main{
  padding: 0.8rem 0rem !important;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}